<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      計畫介紹
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content id="page1">
	<ion-slides pager (click)="changeHeight()">
	  <ion-slide *ngFor="let item of data">
		<img src="https://kaohsiungmemory.com/{{item.photo}}" alt="" class="slide-image"/>
		<div class="wrapper">
			<h2 class="slide-title">{{item.name}}</h2>
			<div class="inner" [style.height]="wrapperHeight">
		    	<p>{{item.content}}"</p>
		    </div>
		    <div class="spacer">
				<ion-icon name='ios-arrow-dropdown-circle-outline' *ngIf="wrapperHeight!='auto'"></ion-icon>
				<ion-icon name='ios-arrow-dropup-circle-outline' *ngIf="wrapperHeight=='auto'"></ion-icon>
			</div>
		</div>
	  </ion-slide>
	</ion-slides>
	<section class="introduce">
	<div class="main">
		<div class="wrap">
			<div class="title">關於計畫</div>
				<div class="content" id="project">{{project}}</div>
			</div>
	</div>


	<div class="main">
		<div class="wrap">
			<div class="title">話說舊港區</div>
				<div class="content" id="story">{{story}}</div>
		</div>
	</div>
</section>
<div class="footer"></div>

</ion-content>